logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
src/components/Testerpage_gem_auto.tsx
src/components/Testerpage_gem_autoclean.tsx
src/components/Testerpagegem.tsx
src/lib/gem_descriptivebutton.ts
